.Circle {
    width: 7em;
    height: 7em;
    background-color: rgb(189, 37, 37);
    border-radius: 50%;
    will-change: filter;
    transition: filter .3s;
}

.Circle::after {
    display: block;
    content: "";
    width: 30%;
    height: 30%;
    background-color: aqua;
    transition: transform .3s;
}

.Circle:hover {
    filter: drop-shadow(0 0 1em red);
    &::after{
        transform: rotate(180deg) translate(5em, 5em) scale(0);
    }
}