.main-header {
    position: fixed;
    overflow: hidden;
    display: flex;
    height: $header-height;
    width: 100%;
    background-color: var(--primary);
    justify-content: space-between;
    z-index: 10;
}